.playing {
    display: flex;
    justify-content: center;
    
    margin-top: 48px;
    animation: aniPlaying 0.3s ease;
}
.frame {
    background-color: #fff;
    padding: 48px;
    border-radius: 10px;

    justify-content: center;
    box-shadow: 0px 0px 12px rgba(0, 0, 0, 0.02);
}
.cd div {
    width: 180px;
    height: 180px;
    
    margin: 32px 0px;
    
    border-radius: 100%;
}
.cd {
    justify-content: center;
    
}
.boxMusic {
    display: flex;
    justify-content: center;

    background-color: #fff;
    
    box-shadow: 0px 0px 28px rgba(0, 0, 0, 0.035);
    border-radius: 20px;
    
}
.navControl {
    display: flex;
    justify-content: space-between;
    align-items: center;

    margin-top: 32px;
}
.playingButton {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 60px;
    height: 60px;

    background-color: #fff;
    box-shadow: 0px 0px 12px rgba(0, 0, 0, 0.08);
    border-radius: 100%;
}
.info p,
.info h5 {
    text-align: center;
}
.info p {
    color: #999;
}
.control input {
    height: 2px;
    padding: 0;
}
.control {
    margin: 12px 0px 24px 0px;
}
.cd div {
    background-position: center;
}
.imageCD {
    animation: aniCD 20s linear infinite;
    background-image: url(./image/cd.png);
    background-size: 200%;

}
@keyframes aniCD {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}
.playing .close {
    background: none;
    border: none;
    display: none;
}
.btn {
    display: flex;
    justify-content: center;
}
@media (max-width: 1200px) {
    .playing {
        position: fixed;
        bottom: 2%;
        right: 2%;
        transform: translateY(94%);
    }
    .playing p,
    .playing h5 {
        display: none;
    }
    .playing .button {
        display: flex;
    }
    .playing .close {
        position: absolute;
        top: 8px;
        right: 16px;
        display: block;
        margin-bottom: 12px;
        width: 12px;
        padding: 0;
    }
    .frame {
        position: relative;
    }
}
@keyframes aniPlaying {
    from {
        opacity: 0;
        transform: translateY(10%) scale(95%);
    } to {
        opacity: 1;
        transform: translateY(0) scale(100%);
    }
}